body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #646464;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.display-none {
  display: none;
}

.filter-green {
  filter: brightness(0) saturate(100%) invert(97%) sepia(68%) saturate(931%) hue-rotate(11deg) brightness(81%) contrast(107%);
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0 20px;
  width: 100%;
}

@media (min-width: 480px) {
  .column-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .display-xs-flex {
    display: flex;
  }
  .display-xs-none {
    display: none;
  }
}
@media (min-width: 768px) {
  .display-md-flex {
    display: flex;
  }
  .display-md-none {
    display: none;
  }
}
.uc {
  text-transform: uppercase;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

.mic-5 > * {
  margin-inline: 5px;
}

.mic-15 > * {
  margin-inline: 15px;
}

.aic {
  align-items: center;
}

.center-text {
  text-align: center;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

header {
  border-bottom: 8px solid;
  -o-border-image: linear-gradient(45deg, #bad447, #1375b8) 1;
     border-image: linear-gradient(45deg, #bad447, #1375b8) 1;
}
header .nav .nav-top {
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
header .nav .nav-top .nav-items {
  display: flex;
  align-items: center;
}
header .nav .nav-top .nav-items a {
  padding: 0 7px;
}
header .nav .nav-top .nav-items a img {
  width: 23px;
  height: 23px;
}
header .nav .nav-top .nav-items a:link {
  color: #ababab;
  filter: none;
}
header .nav .nav-top .nav-items a:visited {
  color: #1375b8;
  filter: brightness(0) saturate(100%) invert(35%) sepia(65%) saturate(1061%) hue-rotate(171deg) brightness(95%) contrast(93%);
}
header .nav .nav-top .nav-items a:focus {
  color: #429099;
  filter: brightness(0) saturate(100%) invert(54%) sepia(19%) saturate(1080%) hue-rotate(138deg) brightness(90%) contrast(86%);
}
header .nav .nav-top .nav-items a:hover {
  color: #bbd547;
  filter: brightness(0) saturate(100%) invert(92%) sepia(91%) saturate(581%) hue-rotate(11deg) brightness(91%) contrast(83%);
}
header .nav .nav-top .nav-items a:active {
  color: #81b36e;
  filter: brightness(0) saturate(100%) invert(70%) sepia(18%) saturate(755%) hue-rotate(59deg) brightness(89%) contrast(96%);
}
header .nav .nav-top .nav-items span {
  color: #ababab;
}
header .nav .nav-dropdown .nav-dropdown-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a {
  display: block;
  padding: 3px 8px;
  margin-top: 1px;
  background-color: white;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a:link {
  color: #ababab;
  background-color: white;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a:visited {
  color: white;
  background-color: #1375b8;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a:focus {
  color: white;
  background-color: #429099;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a:hover {
  color: white;
  background-color: #bbd547;
}
header .nav .nav-dropdown .nav-dropdown-items ul li a:active {
  color: white;
  background-color: #81b36e;
}
header .nav .nav-search input {
  display: block;
  width: calc(100% - 10px);
  margin: 7px;
  padding: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: none;
  color: #dbdbdb;
}

@media (min-width: 480px) {
  .nav-dropdown {
    display: none;
  }
}
footer {
  margin-top: auto;
  padding: 12px 20px;
  background-color: #dbdbdb;
}
footer .footer {
  display: flex;
  justify-content: space-between;
}
footer .footer .footer-icon-container {
  background-color: #f3f3f4;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #6d6e71;
  display: inline-block;
  padding: 5px;
  margin-right: 8px;
}
footer .footer a {
  display: block;
  margin-top: 1px;
}
footer .footer a img {
  height: 19px;
  width: 21px;
}
footer .footer a:link {
  filter: none;
}
footer .footer a:visited, footer .footer a:focus, footer .footer a:hover, footer .footer a:active {
  filter: brightness(0) saturate(100%) invert(97%) sepia(68%) saturate(931%) hue-rotate(11deg) brightness(81%) contrast(107%);
}
footer .footer .footer-item a:link {
  color: #ababab;
}
footer .footer .footer-item a:visited {
  color: #1375b8;
}
footer .footer .footer-item a:focus {
  color: #429099;
}
footer .footer .footer-item a:hover {
  color: #bbd547;
}
footer .footer .footer-item a:active {
  color: #81b36e;
}

.main {
  width: 200px;
}
.main h2 {
  margin: 10px 0;
  font-size: 30px;
}
.main img {
  width: 100%;
}
.main .article-text {
  font-size: 13px;
}
.main .show-more-container {
  text-align: right;
}
.main .show-more-container .show-more {
  border-radius: 2px;
  color: white;
  background-color: #dbdbdb;
  text-transform: uppercase;
  font-size: 9px;
  padding: 5px 4px 4px 4px;
}
.main .show-more-container .show-more:visited, .main .show-more-container .show-more:focus, .main .show-more-container .show-more:hover, .main .show-more-container .show-more:active {
  background-color: #bbd547;
  color: white;
}
.main .about-item-img {
  background-color: #dbdbdb;
}
.main .about-item-img a {
  height: 115px;
  display: flex;
  justify-content: center;
}
.main .about-item-img a img {
  display: flex;
  height: 45px;
  margin-top: 38px;
}
.main .about-item-img a:link {
  filter: none;
}
.main .about-item-img a:visited, .main .about-item-img a:focus, .main .about-item-img a:hover, .main .about-item-img a:active {
  filter: brightness(0) saturate(100%) invert(97%) sepia(68%) saturate(931%) hue-rotate(11deg) brightness(81%) contrast(107%);
}

@media (min-width: 480px) {
  .main {
    width: 400px;
  }
  .main h2 {
    margin-left: 20px;
  }
  .main .article-desc .article-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 768px) {
  .main {
    width: 500px;
  }
}
.carousel {
  position: relative;
  margin-bottom: 30px;
}
.carousel .carousel-content .carousel-item {
  display: none;
}
.carousel .carousel-content .carousel-item.active {
  display: block;
}
.carousel .carousel-content .carousel-item .carousel-item-content {
  background-color: #f3f3f3;
  border-bottom: 1px solid #dbdbdb;
}
.carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-img .carousel-item-img-icon {
  margin: auto;
  display: block;
  padding: 55px 0;
}
.carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-img .carousel-item-img-dots {
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-header {
  text-align: center;
  margin: auto;
  padding-left: 15px;
}
.carousel .carousel-content .carousel-item .carousel-item-nav-text {
  display: block;
  height: 70px;
  border-bottom: 1px solid #dbdbdb;
}
.carousel .carousel-content .carousel-item .carousel-item-nav-text h3 {
  height: 70px;
  padding: 25px 50px;
  text-align: center;
}
.carousel .carousel-previous {
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.carousel .carousel-previous img {
  padding: 0 0 27px 21px;
}
.carousel .carousel-next {
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.carousel .carousel-next img {
  padding: 0 0 27px 21px;
}
.carousel .carousel-dots {
  display: none;
}

@media (min-width: 480px) {
  .carousel .carousel-content .carousel-item .carousel-item-img {
    width: 33%;
    padding: 15px;
  }
  .carousel .carousel-content .carousel-item .carousel-item-content {
    display: flex;
  }
  .carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-header {
    text-align: left;
  }
  .carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-header h3 {
    font-size: 40px;
    margin-left: 26px;
    margin-right: 26px;
  }
  .carousel .carousel-content .carousel-item .carousel-item-nav-text {
    display: none;
  }
  .carousel .carousel-previous,
.carousel .carousel-next {
    display: none;
  }
  .carousel .carousel-dots {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .carousel .carousel-dots a {
    height: 9px;
    width: 9px;
    background-color: #BABABA;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 1px;
  }
  .carousel .carousel-dots a.active {
    background-color: #BCD546;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-content .carousel-item .carousel-item-img {
    width: 50%;
  }
  .carousel .carousel-content .carousel-item .carousel-item-content .carousel-item-header h3 {
    font-size: 52px;
    margin-left: 26px;
  }
}/*# sourceMappingURL=main.css.map */