.main {
    width: 200px;
    h2 {
        margin: 10px 0;
        font-size: 30px;
    }
    img {
        width: 100%;
    }
    .article-text {
        font-size: 13px;
    }
    .show-more-container {
        text-align: right;
        .show-more {
            border-radius: 2px;
            color: white;
            background-color: $color-primary-light-grey;
            text-transform: uppercase;
            font-size: 9px;
            padding: 5px 4px 4px 4px;
            &:visited,
            &:focus,
            &:hover,
            &:active {
                background-color: $color-primary-hover;
                color: white;
            }
        }
    }
    .about-item-img {
        background-color: $color-primary-light-grey;
        a {
            height: 115px;
            display: flex;
            justify-content: center;
            img {
                display: flex;
                height: 45px;
                margin-top: 38px;
            }
            &:link {
                filter: none;
            }
            &:visited,
            &:focus,
            &:hover,
            &:active {
                filter: $filter-primary-green;
            }
        }
    }
}

@media (min-width: 480px) {
    .main {
        h2{
            margin-left: 20px;
        }
        width: 400px;
        .article-desc {
            .article-text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

@media (min-width: 768px) {
    .main {
        width: 500px;
    }
}
