$color-primary-grey: #646464;
$color-primary-light-grey: #dbdbdb;
$color-primary-link: #ababab;
$color-primary-focus: #429099;
$color-primary-hover: #bbd547;
$color-primary-active: #81b36e;
$color-primary-visited: #1375b8;
$filter-primary-green: brightness(0) saturate(100%) invert(97%) sepia(68%)
    saturate(931%) hue-rotate(11deg) brightness(81%) contrast(107%);

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $color-primary-grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.display-none {
    display: none;
}

.filter-green {
    filter: $filter-primary-green;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 0 20px;
    width: 100%;
}

@media (min-width: 480px) {
    .column-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .display-xs-flex {
        display: flex;
    }
    .display-xs-none {
        display: none;
    }
}

@media (min-width: 768px) {
    .display-md-flex {
        display: flex;
    }
    .display-md-none {
        display: none;
    }
}

.uc {
    text-transform: uppercase;
}

.container {
    max-width: 1120px;
    margin-inline: auto;
}

.mic-5 > * {
    margin-inline: 5px;
}

.mic-15 > * {
    margin-inline: 15px;
}

.aic {
    align-items: center;
}

.center-text {
    text-align: center;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}
