header {
    border-bottom: 8px solid;
    border-image: linear-gradient(45deg, #bad447, #1375b8) 1;
    .nav {
        .nav-top {
            padding: 6px;
            display: flex;
            justify-content: space-between;
            .nav-items {
                display: flex;
                align-items: center;
                a {
                    padding: 0 7px;
                    img {
                        width: 23px;
                        height: 23px;
                    }
                    &:link {
                        color: $color-primary-link;
                        filter: none;
                    }
                    &:visited {
                        color: $color-primary-visited;
                        filter: brightness(0) saturate(100%) invert(35%) sepia(65%)
                            saturate(1061%) hue-rotate(171deg) brightness(95%)
                            contrast(93%);
                    }
                    &:focus {
                        color: $color-primary-focus;
                        filter: brightness(0) saturate(100%) invert(54%) sepia(19%)
                            saturate(1080%) hue-rotate(138deg) brightness(90%)
                            contrast(86%);
                    }
                    &:hover {
                        color: $color-primary-hover;
                        filter: brightness(0) saturate(100%) invert(92%) sepia(91%)
                            saturate(581%) hue-rotate(11deg) brightness(91%)
                            contrast(83%);
                    }
                    &:active {
                        color: $color-primary-active;
                        filter: brightness(0) saturate(100%) invert(70%) sepia(18%)
                            saturate(755%) hue-rotate(59deg) brightness(89%)
                            contrast(96%);
                    }
                }
                span {
                    color: $color-primary-link;
                }
            }
        }
        .nav-dropdown {
            .nav-dropdown-items {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        a {
                            display: block;
                            padding: 3px 8px;
                            margin-top: 1px;
                            background-color: white;
                            &:link {
                                color: $color-primary-link;
                                background-color: white;
                            }
                            &:visited {
                                color: white;
                                background-color: $color-primary-visited;
                            }
                            &:focus {
                                color: white;
                                background-color: $color-primary-focus;
                            }
                            &:hover {
                                color: white;
                                background-color: $color-primary-hover;
                            }
                            &:active {
                                color: white;
                                background-color: $color-primary-active;
                            }
                        }
                    }
                }
            }
        }
        .nav-search {
            input {
                display: block;
                width: calc(100% - 10px);
                margin: 7px;
                padding: 5px;
                border: 1px solid $color-primary-light-grey;
                border-radius: 2px;
                outline: none;
                color: $color-primary-light-grey;
            }
        }
    }
}

@media (min-width: 480px) {
    .nav-dropdown {
        display: none;
    }
}